# --- Spring Server (으기) ---
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
### VS Code ###
.vscode/




# --- Python Server (lsun41902) ---
# --- Project Common ---
.DS_Store
Thumbs.db

# --- Python Server
.venv/
__pycache__/
python-server/.env

# --- 이승은 코드합치는 개인도구
merge_code.py
project_context.txt