fastapi
uvicorn
python-multipart
pydantic
python-dotenv

# Database
langchain-postgres
psycopg[binary]
pgvector

# AI & LangChain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
google-generativeai

# Data & ML
pandas
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
Pillow
tqdm